@keyframes slide-down {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f4f4f4;
  overflow-x: hidden; }

body::-webkit-scrollbar {
  width: 10px;
  position: fixed;
  z-index: 2; }

body::-webkit-scrollbar-thumb {
  background-color: #333; }

button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* You can do the same for links */
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.u-blk {
  display: block; }

.u-il-blk {
  display: inline-block; }

.u-font-bold {
  font-weight: 700; }

.u-font-light {
  font-weight: 200; }

.slideshow-box {
  position: relative;
  width: 100vw;
  height: 100vh; }

.slideshow-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.slideshow {
  position: absolute;
  width: 100%;
  height: 100%; }

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.4s ease-in-out; }

.slide.active {
  opacity: 1; }

.info-box {
  display: block;
  margin: 40px;
  padding: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 45vw;
  height: fit-content;
  background-color: #ffffffbb;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  transition: height 0.3s; }
  @media (max-width: 768px) {
    .info-box {
      margin: 40px 20px;
      width: 70vw;
      height: fit-content; } }
  .info-box__header {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 1rem; }
    .info-box__header span {
      font-size: clamp(1.875rem, 1.5vw + 1.2rem, 4.5rem);
      font-weight: 600;
      letter-spacing: -2px; }
  .info-box .details-list {
    list-style: none;
    padding: 0;
    margin: 0; }
    .info-box .details-list .details-list-item {
      font-size: clamp(1.25rem, 1vw + 0.8rem, 3rem);
      font-weight: 500;
      max-width: 90%;
      letter-spacing: -1px;
      color: #ff781e;
      opacity: 0;
      /* Initially fully transparent */
      visibility: hidden;
      /* Hide from screen */
      transform: translateY(20px);
      transition: opacity 0.8s ease, transform 0.8s ease, visibility 0.8s;
      position: absolute;
      /* Ensure only one item is in view */ }
      .info-box .details-list .details-list-item.visible {
        opacity: 1;
        /* Fully visible */
        visibility: visible;
        /* Visible on the screen */
        transform: translateY(0);
        position: relative;
        /* In layout when visible */ }

.section-intro {
  padding: 8% 8%;
  width: 100vw;
  background-image: url(".././resources/cspit/slideshow-1.webp");
  background-size: cover; }
  .section-intro__cont {
    width: 60%;
    padding: 3rem;
    background-color: #ffffffa7;
    border-radius: 40px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    font-weight: 300;
    font-size: clamp(0.875rem, 0.7vw + 0.56rem, 2.1rem); }
    .section-intro__cont h1 {
      font-weight: 600;
      letter-spacing: -1.5px;
      font-size: clamp(1.5rem, 1.2vw + 0.96rem, 3.6rem); }
    .section-intro__cont .highlight {
      font-weight: 600;
      letter-spacing: -1.5px;
      background-image: linear-gradient(120deg, #4287fe, #ff7a1c);
      background-clip: text;
      color: transparent; }
    .section-intro__cont .intro-module {
      margin-bottom: 1.5rem; }
      .section-intro__cont .intro-module h2 {
        font-weight: 600;
        font-size: clamp(1.5rem, 1.2vw + 0.96rem, 3.6rem);
        letter-spacing: -1.5px;
        margin-bottom: .6rem; }

@media (max-width: 768px) {
  .section-intro {
    padding: 8% 4%; }
    .section-intro__cont {
      width: 75%;
      padding: 1rem;
      border-radius: 10px; } }

.programs {
  width: 100vw;
  padding: 5% 8%; }
  .programs__cont {
    width: 100%; }
    .programs__cont--header {
      width: 100%;
      font-size: clamp(1.75rem, 1.4vw + 1.12rem, 4.2rem);
      font-weight: 900;
      letter-spacing: -2px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem; }
      .programs__cont--header .svg-cont {
        width: 6rem;
        height: 6rem;
        padding: 1rem;
        display: inline-block;
        border-radius: 50%;
        background-color: rgba(255, 122, 28, 0.1);
        box-shadow: 0 0 20px 0 rgba(200, 97, 1, 0.405); }
        @media (max-width: 768px) {
          .programs__cont--header .svg-cont {
            width: 4rem;
            height: 4rem; } }
        .programs__cont--header .svg-cont svg {
          margin-right: -2px; }
    .programs__cont--main {
      padding: 3% 0; }

.program__category .category-name {
  font-size: 2rem;
  letter-spacing: -1.5px;
  font-weight: 600;
  padding: 1rem 0;
  width: 100%;
  border-bottom: 2px solid #ddd; }

.program__list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  /* Gap between items */
  justify-content: center;
  padding: 3% 0; }

.program__item {
  flex: 0 1 calc(33.333% - 2rem);
  /* Each item takes up 1/3 of the row minus the gap */
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  letter-spacing: -1px;
  overflow: hidden;
  transition: all .3s; }
  .program__item:hover {
    box-shadow: 0 0 20px rgba(51, 51, 51, 0.3); }
  .program__item:nth-child(1) .program__name {
    background-image: url(".././resources/backgrounds/mesh-1.webp"); }
  .program__item:nth-child(2) .program__name {
    background-image: url(".././resources/backgrounds/mesh-2.webp"); }
  .program__item:nth-child(3) .program__name {
    background-image: url(".././resources/backgrounds/mesh-3.webp"); }
  .program__item:nth-child(4) .program__name {
    background-image: url(".././resources/backgrounds/mesh-4.webp"); }
  .program__item:nth-child(5) .program__name {
    background-image: url(".././resources/backgrounds/mesh-5.webp"); }
  .program__item:nth-child(6) .program__name {
    background-image: url(".././resources/backgrounds/mesh-6.webp"); }
  .program__item:nth-child(7) .program__name {
    background-image: url(".././resources/backgrounds/mesh-7.webp"); }
  .program__item:nth-child(8) .program__name {
    background-image: url(".././resources/backgrounds/mesh-8.webp"); }
  .program__item:nth-child(9) .program__name {
    background-image: url(".././resources/backgrounds/mesh-9.webp"); }
  .program__item:nth-child(8) .program__name {
    background-image: url(".././resources/backgrounds/mesh-8.webp"); }
  .program__item .font-small {
    font-size: clamp(1.125rem, 0.9vw + 0.72rem, 2.7rem); }
  @media (max-width: 768px) {
    .program__item {
      flex: 0 1 calc(50% - 2rem);
      /* Each item takes up 1/2 of the row minus the gap */ } }
  @media (max-width: 480px) {
    .program__item {
      flex: 0 1 calc(100% - 2rem);
      /* Each item takes up the full row minus the gap */ } }

.program__name {
  padding: 0 8%;
  height: 12rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  font-size: clamp(1.5rem, 1.2vw + 0.96rem, 3.6rem);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }

.program__info {
  padding: 4% 8%; }
  .program__info ul {
    list-style-type: none; }
    .program__info ul li {
      font-size: 1.2rem;
      padding: .4rem 0;
      display: flex; }
      .program__info ul li .label {
        font-weight: 600;
        width: 30%;
        min-width: 6rem; }
      .program__info ul li .card-icon {
        width: 20px;
        margin-left: .1rem;
        margin-right: 1rem; }
        .program__info ul li .card-icon-wide {
          width: 22px;
          margin-right: 1rem; }
        .program__info ul li .card-icon-wider {
          width: 22px;
          margin-right: 1rem; }

.program__actions {
  padding: 4%; }
  .program__actions button {
    width: 100%;
    padding: 1rem 1rem;
    border: none;
    border-radius: 5px;
    color: #333;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    letter-spacing: -1px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #e6e6e6; }
    .program__actions button:hover {
      background-color: #ffd4b5; }

@media (max-width: 768px) {
  .program__list {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns for smaller screens */ } }

@media (max-width: 480px) {
  .program__list {
    grid-template-columns: 1fr;
    /* 1 column for mobile screens */ } }

.scrolled {
  padding: 0 0 !important;
  margin: 0 0 !important; }
  .scrolled .header__cont {
    border-radius: 0 !important; }

.header {
  padding: calc(2px + 1vw) calc(8px + 2vw);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.5s ease;
  margin: 10px 0;
  box-sizing: border-box; }
  .header__cont {
    border-radius: 10px;
    padding: calc(2px + .5vw) calc(5px + 1vw);
    background-color: #ffffffa7;
    color: #333;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto; }
  .header__info {
    display: flex;
    align-items: center; }
  .header__logo {
    display: flex;
    align-items: center;
    width: 5vw;
    /* 15% of the viewport width */
    min-width: 3rem; }
    .header__logo img {
      width: 100%; }
  .header__logo--name {
    margin-left: calc(5px + 1vw); }
    .header__logo--name .name--cont {
      font-size: clamp(1.875rem, 1.5vw + 1.2rem, 4.5rem);
      font-weight: 600;
      letter-spacing: -2px;
      color: #0150d9; }
  .header__nav {
    display: flex;
    margin-left: auto;
    transition: height 0.5s ease-in-out;
    height: auto; }
    .header__nav--list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      height: auto; }
    .header__nav--item {
      height: auto;
      margin-left: 20px;
      border-radius: 10px;
      overflow: hidden; }
    .header__nav--link {
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none; }
      .header__nav--link, .header__nav--link:visited, .header__nav--link:link {
        color: #333;
        font-weight: 600;
        font-size: 1.2rem;
        letter-spacing: -1px;
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px; }
      .header__nav--link:hover, .header__nav--link:active, .header__nav--link:focus {
        background-color: rgba(66, 135, 254, 0.4); }
  .header__menu-btn {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    margin-left: auto; }

/* Media Query for viewports smaller than 768px */
@media (max-width: 768px) {
  .header__cont {
    flex-direction: column;
    align-items: center;
    height: auto;
    transition: height .3s ease;
    padding: 10px 20px; }
    .header__cont--mobile {
      display: flex;
      justify-content: space-between;
      width: 100%; }
  .header__nav {
    height: 0;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
    /* Prevent overflow */
    transition: height 0.5s ease-in-out; }
    .header__nav--list {
      width: 100%; }
    .header__nav--item {
      width: 100%;
      display: block;
      margin-left: 0px;
      margin-top: 10px;
      border-radius: 10px;
      overflow: hidden; }
    .header__nav--link {
      display: block;
      width: 100%;
      padding: 8px 16px; }
  .header .show {
    height: 12.5rem;
    /* Allow height to adjust */
    transition: all .3s ease; }
  .header__nav--list {
    flex-direction: column;
    align-items: flex-start; }
  .header__menu-btn {
    display: block;
    /* Show menu button */
    display: flex;
    align-items: center;
    margin: 0 0 4px 0;
    color: #333; } }
