@keyframes slide-down {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f4f4f4;
  overflow-x: hidden; }

body::-webkit-scrollbar {
  width: 10px;
  position: fixed;
  z-index: 2; }

body::-webkit-scrollbar-thumb {
  background-color: #333; }

button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* You can do the same for links */
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.u-blk {
  display: block; }

.u-il-blk {
  display: inline-block; }

.u-font-bold {
  font-weight: 700; }

.u-font-light {
  font-weight: 200; }

.section-intro {
  padding: 8% 8%;
  width: 100vw;
  background-image: url(".././resources/cspit/slideshow-1.webp");
  background-size: cover; }
  .section-intro__cont {
    width: 60%;
    padding: 3rem;
    background-color: #ffffffa7;
    border-radius: 40px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    font-weight: 300;
    font-size: clamp(0.875rem, 0.7vw + 0.56rem, 2.1rem); }
    .section-intro__cont h1 {
      font-weight: 600;
      letter-spacing: -1.5px;
      font-size: clamp(1.5rem, 1.2vw + 0.96rem, 3.6rem); }
    .section-intro__cont .highlight {
      font-weight: 600;
      letter-spacing: -1.5px;
      background-image: linear-gradient(120deg, #4287fe, #ff7a1c);
      background-clip: text;
      color: transparent; }
    .section-intro__cont .intro-module {
      margin-bottom: 1.5rem; }
      .section-intro__cont .intro-module h2 {
        font-weight: 600;
        font-size: clamp(1.5rem, 1.2vw + 0.96rem, 3.6rem);
        letter-spacing: -1.5px;
        margin-bottom: .6rem; }

@media (max-width: 768px) {
  .section-intro {
    padding: 8% 4%;
    background-position: 50%; }
    .section-intro__cont {
      width: 80%;
      padding: 1rem;
      border-radius: 10px; } }

.message-section {
  padding: 6rem 0;
  background: linear-gradient(120deg, #4287fe, #ff7a1c);
  color: #fff; }
  .message-section__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem; }
  .message-section__header {
    margin-bottom: 2rem; }
  .message-section__title {
    font-size: 2.6rem;
    letter-spacing: -1.5px; }
  .message-section__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; }
    .message-section__content:not(:last-child) {
      margin-bottom: 3rem; }
  .message-section__text {
    flex: 1 1 70%;
    padding-right: 2rem; }
  .message-section__paragraph {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-align: justify; }
  .message-section__signature {
    font-size: 1rem;
    margin-top: 1rem; }
  .message-section__image {
    flex: 0 0 25%;
    max-width: 200px; }
  .message-section__photo {
    width: 100%;
    height: auto; }
  .message-section__divider {
    border: 1px solid #ddd;
    margin: 3rem 0; }
  @media (max-width: 768px) {
    .message-section__content {
      flex-direction: column; }
    .message-section__text {
      padding-right: 0;
      margin-bottom: 2rem; }
    .message-section__image {
      max-width: 100%; } }

.programs {
  width: 100vw;
  padding: 5%; }
  .programs__cont {
    width: 100%; }
    .programs__cont--header {
      width: 100%;
      font-size: clamp(1.5625rem, 1.25vw + 1rem, 3.75rem);
      font-weight: 700;
      letter-spacing: -2px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem; }
      .programs__cont--header .svg-cont {
        width: 5rem;
        height: 5rem;
        padding: 0.5rem;
        display: inline-block;
        border-radius: 50%;
        background-color: rgba(255, 122, 28, 0.1);
        box-shadow: 0 0 20px 0 rgba(200, 97, 1, 0.405); }
        @media (max-width: 768px) {
          .programs__cont--header .svg-cont {
            width: 4rem;
            height: 4rem; } }
        .programs__cont--header .svg-cont svg {
          margin-right: -2px; }
    .programs__cont--main {
      padding: 3% 0; }

.program__category .category-name {
  font-size: 2.4rem;
  letter-spacing: -1.5px;
  font-weight: 600;
  padding: 0.5rem 0;
  width: 100%;
  border-bottom: 2px solid #ddd; }

.program__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  /* Adjusted gap between items */
  justify-content: center;
  padding: 3% 0; }

.program__item {
  flex: 0 1 calc(25% - 2rem);
  /* Each item takes up 1/4 of the row minus the gap */
  border-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  letter-spacing: -1px;
  overflow: hidden;
  transition: all .3s;
  /* Background images for each item */ }
  .program__item:hover {
    box-shadow: 0 0 20px rgba(51, 51, 51, 0.3); }
  .program__item:nth-child(1) .program__name {
    background-image: url(".././resources/backgrounds/mesh-1.webp"); }
  .program__item:nth-child(2) .program__name {
    background-image: url(".././resources/backgrounds/mesh-2.webp"); }
  .program__item:nth-child(3) .program__name {
    background-image: url(".././resources/backgrounds/mesh-3.webp"); }
  .program__item:nth-child(4) .program__name {
    background-image: url(".././resources/backgrounds/mesh-4.webp"); }
  .program__item:nth-child(5) .program__name {
    background-image: url(".././resources/backgrounds/mesh-5.webp"); }
  .program__item:nth-child(6) .program__name {
    background-image: url(".././resources/backgrounds/mesh-6.webp"); }
  .program__item:nth-child(7) .program__name {
    background-image: url(".././resources/backgrounds/mesh-7.webp"); }
  .program__item:nth-child(8) .program__name {
    background-image: url(".././resources/backgrounds/mesh-8.webp"); }
  .program__item:nth-child(9) .program__name {
    background-image: url(".././resources/backgrounds/mesh-9.webp"); }
  .program__item .font-small {
    font-size: clamp(0.9375rem, 0.75vw + 0.6rem, 2.25rem); }
  @media (max-width: 768px) {
    .program__item {
      flex: 0 1 calc(50% - 2rem);
      /* Each item takes up 1/2 of the row minus the gap */ } }
  @media (max-width: 480px) {
    .program__item {
      flex: 0 1 calc(100% - 2rem);
      /* Each item takes up the full row minus the gap */ } }

.program__name {
  padding: 0 6%;
  height: 10rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  font-size: clamp(1.25rem, 1vw + 0.8rem, 3rem);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }

.program__info {
  padding: 3% 6%; }
  .program__info ul {
    list-style-type: none; }
    .program__info ul li {
      font-size: 1.1rem;
      padding: 0.4rem 0;
      display: flex; }
      .program__info ul li .label {
        font-weight: 600;
        width: 30%;
        min-width: 6rem; }
      .program__info ul li .card-icon {
        width: 20px;
        margin-left: 0.1rem;
        margin-right: 1rem; }
        .program__info ul li .card-icon-wide {
          width: 22px;
          margin-right: 1rem; }
        .program__info ul li .card-icon-wider {
          width: 22px;
          margin-right: 1rem; }

.program__actions {
  padding: 3%; }
  .program__actions button {
    width: 100%;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 5px;
    color: #333;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 1.5rem;
    letter-spacing: -1px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #e6e6e6; }
    .program__actions button:hover {
      background-color: #ffd4b5; }

@media (max-width: 768px) {
  .program__list {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns for smaller screens */ } }

@media (max-width: 480px) {
  .program__list {
    grid-template-columns: 1fr;
    /* 1 column for mobile screens */ }
  .program__name {
    height: 8rem;
    font-size: clamp(1.125rem, 0.9vw + 0.72rem, 2.7rem); } }

.scalars {
  background-image: url(".././resources/cspit/scalars.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 0; }
  .scalars .achievment-area .section-header-box {
    display: block; }
    .scalars .achievment-area .section-header-box .section-header {
      margin-bottom: 2rem; }
      .scalars .achievment-area .section-header-box .section-header h1 {
        text-align: center;
        font-size: clamp(2.375rem, 1.9vw + 1.52rem, 5.7rem);
        font-weight: 700;
        letter-spacing: -1.5px;
        color: #fff;
        margin-bottom: 2rem; }
  .scalars .achievment-area .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 2% 0;
    margin: 0% 6%;
    border-radius: 2rem;
    background-color: #ffffffa7;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px); }
    @media (max-width: 1200px) {
      .scalars .achievment-area .container {
        grid-template-columns: repeat(3, 1fr); } }
    @media (max-width: 992px) {
      .scalars .achievment-area .container {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 768px) {
      .scalars .achievment-area .container {
        grid-template-columns: repeat(1, 1fr); } }
    .scalars .achievment-area .container .counters-item .counter-box {
      width: 100%;
      padding: 20px;
      border-radius: 8px;
      text-align: center; }
      .scalars .achievment-area .container .counters-item .counter-box i {
        font-size: 3rem;
        color: #ff710d;
        margin-bottom: 10px; }
      .scalars .achievment-area .container .counters-item .counter-box .counter {
        font-size: 2.5rem;
        font-weight: bold;
        color: #007bff;
        margin-bottom: 5px; }
      .scalars .achievment-area .container .counters-item .counter-box span {
        font-size: 1.2rem;
        color: #555; }

.slideshow-box {
  position: relative;
  width: 100vw;
  height: 100vh; }

.slideshow-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.slideshow {
  position: absolute;
  width: 100%;
  height: 100%; }

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.4s ease-in-out; }

.slide.active {
  opacity: 1; }

.info-box {
  display: block;
  margin: 0 0 70px 40px;
  padding: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 40vw;
  height: fit-content;
  background-color: #ffffffbb;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  transition: height 0.3s; }
  @media (max-width: 768px) {
    .info-box {
      margin: 40px 5vw;
      padding: 20px;
      width: 90vw;
      height: 12rem; } }
  .info-box__header {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 1rem; }
    .info-box__header span {
      font-size: clamp(1.875rem, 1.5vw + 1.2rem, 4.5rem);
      font-weight: 600;
      letter-spacing: -2px; }
  .info-box .details-list {
    list-style: none;
    padding: 0;
    margin: 0; }
    .info-box .details-list .details-list-item {
      font-size: clamp(1.25rem, 1vw + 0.8rem, 3rem);
      font-weight: 500;
      max-width: 100%;
      letter-spacing: -1px;
      color: #f98335;
      opacity: 0;
      /* Initially fully transparent */
      visibility: hidden;
      /* Hide from screen */
      transform: translateY(20px);
      transition: opacity 0.4s ease, transform 0.8s ease, visibility 0.8s;
      position: absolute;
      /* Ensure only one item is in view */ }
      .info-box .details-list .details-list-item.visible {
        max-width: 100%;
        opacity: 1;
        /* Fully visible */
        visibility: visible;
        /* Visible on the screen */
        transform: translateY(0);
        position: relative;
        /* In layout when visible */ }

.events {
  width: 100%; }
  .events-section {
    width: 100%;
    padding: 5% 7%; }
    .events-section--head {
      width: 100%;
      font-size: clamp(1.5625rem, 1.25vw + 1rem, 3.75rem);
      font-weight: 700;
      letter-spacing: -2px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      margin-bottom: 2rem; }
      .events-section--head .svg-cont {
        width: 5rem;
        height: 5rem;
        padding: .8rem;
        display: inline-block;
        border-radius: 50%;
        background-color: rgba(255, 122, 28, 0.1);
        box-shadow: 0 0 20px 0 rgba(200, 97, 1, 0.405); }
        @media (max-width: 768px) {
          .events-section--head .svg-cont {
            width: 4rem;
            height: 4rem; } }
        .events-section--head .svg-cont svg {
          margin: -1px 0 0 0; }
  .events-cards-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0; }
    .events-cards-container .event-card {
      width: 28%;
      height: auto;
      border-radius: 1.5rem;
      position: relative;
      overflow: hidden;
      transition: all .3s;
      display: flex;
      flex-direction: column;
      background-color: #4982e6;
      letter-spacing: -.5px; }
      .events-cards-container .event-card-image {
        max-width: 100%;
        background-size: contain;
        border-radius: 0 0 2rem 2rem; }
      .events-cards-container .event-card-info {
        width: 100%;
        padding: .5rem 1rem 1rem 1rem;
        margin: 0;
        color: #fff;
        transition: all .3s;
        text-align: left;
        overflow: hidden; }
      .events-cards-container .event-card-title {
        margin-bottom: 4px; }
      .events-cards-container .event-card-date {
        margin-bottom: 4px;
        display: inline-block;
        font-weight: 700;
        color: #333;
        padding: 8px 16px;
        border-radius: 4rem;
        background-color: #ffffffa7; }
      .events-cards-container .event-card:hover {
        transform: scale(1.05); }
  .events-more-btn {
    margin: 2rem auto;
    padding: 10px 20px;
    display: block;
    width: 15%;
    font-size: 1.2rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    letter-spacing: -1px;
    color: #fff;
    background-color: #ff7a1c; }
    .events-more-btn:hover {
      background-color: #d06315; }

.courses {
  padding: 5%;
  background-color: #4287fe;
  color: #333; }
  .courses-section {
    width: 100%;
    padding: 5% 7%; }
    .courses-section--head {
      width: 100%;
      font-size: clamp(1.5625rem, 1.25vw + 1rem, 3.75rem);
      font-weight: 700;
      letter-spacing: -2px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      margin-bottom: 4rem;
      padding: 1rem;
      border-radius: 4rem;
      background-color: #ffffffa7; }
      .courses-section--head .svg-cont {
        width: 5rem;
        height: 5rem;
        padding: .5rem;
        display: inline-block;
        border-radius: 50%;
        margin-right: .5rem;
        background-color: #ffffff; }
        @media (max-width: 768px) {
          .courses-section--head .svg-cont {
            width: 4rem;
            height: 4rem; } }
        .courses-section--head .svg-cont svg {
          margin: 2px 0 0 0; }
  .courses__cont {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap; }
    .courses__cont--item {
      width: 14%;
      display: inline-flex;
      align-items: center;
      border-radius: 1rem;
      overflow: hidden;
      background-color: #fff;
      padding: 1rem;
      aspect-ratio: 1/1;
      border: 5px solid #fff; }
      .courses__cont--item img {
        width: 100%;
        object-fit: cover; }

.testimonials-section {
  padding: 5%;
  background-color: #ff7a1c;
  width: 100%;
  padding: 5% 7%;
  letter-spacing: -.5px; }
  .testimonials-section--head {
    width: 100%;
    font-size: clamp(1.5625rem, 1.25vw + 1rem, 3.75rem);
    font-weight: 700;
    letter-spacing: -2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
    padding: 1rem;
    border-radius: 4rem;
    background-color: #ffffffa7; }
    .testimonials-section--head .svg-cont {
      width: 5rem;
      height: 5rem;
      padding: 0.5rem;
      display: inline-block;
      border-radius: 50%;
      background-color: #fff; }
      @media (max-width: 768px) {
        .testimonials-section--head .svg-cont {
          width: 4rem;
          height: 4rem; } }
  .testimonials-section .testimonials-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; }
  .testimonials-section .testimonial-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem; }
    .testimonials-section .testimonial-card .testimonial-card-image {
      width: 30%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      margin-top: -30px;
      height: auto;
      position: relative; }
    .testimonials-section .testimonial-card .testimonial-card-info {
      padding: 15px; }
      .testimonials-section .testimonial-card .testimonial-card-info .testimonial-card-name {
        font-size: 1.6rem;
        color: #4287fe;
        margin-bottom: 5px; }
      .testimonials-section .testimonial-card .testimonial-card-info .testimonial-card-designation {
        font-size: 1em;
        color: #ff7a1c;
        margin-bottom: 10px; }
      .testimonials-section .testimonial-card .testimonial-card-info .testimonial-card-paragraph {
        font-size: 0.9em;
        color: #333; }

@media (max-width: 768px) {
  .testimonial-card {
    width: 45%; } }

@media (max-width: 480px) {
  .testimonial-card {
    width: 100%; } }

.chapters {
  padding: 5%;
  background-color: #ff8026;
  color: #333; }
  .chapters-section {
    width: 100%;
    padding: 5% 7%; }
    .chapters-section--head {
      width: 100%;
      font-size: clamp(1.5625rem, 1.25vw + 1rem, 3.75rem);
      font-weight: 700;
      letter-spacing: -2px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      margin-bottom: 4rem;
      padding: 1rem;
      border-radius: 4rem;
      background-color: #ffffffa7; }
      .chapters-section--head .svg-cont {
        width: 5rem;
        height: 5rem;
        padding: .4rem;
        display: inline-block;
        border-radius: 50%;
        margin-right: .5rem;
        background-color: #ffffff; }
        @media (max-width: 768px) {
          .chapters-section--head .svg-cont {
            width: 4rem;
            height: 4rem; } }
        .chapters-section--head .svg-cont svg {
          margin: 0 0 0 -2px; }
  .chapters__cont {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap; }
    .chapters__cont--item {
      width: 14%;
      display: inline-flex;
      align-items: center;
      border-radius: 1rem;
      overflow: hidden;
      background-color: #fff;
      padding: 1rem;
      aspect-ratio: 1/1;
      border: 5px solid #fff; }
      .chapters__cont--item img {
        width: 100%;
        object-fit: cover; }

.scrolled {
  padding: 0 0 !important;
  margin: 0 0 !important; }
  .scrolled .header__cont {
    border-radius: 0 !important; }

.header {
  padding: calc(2px + 1vw) calc(8px + 2vw);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.5s ease;
  margin: 10px 0;
  box-sizing: border-box; }
  .header__cont {
    border-radius: 10px;
    background-color: #ffffffa7;
    color: #333;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto; }
  .header__info {
    display: flex;
    align-items: center;
    padding: 0 2rem; }
    @media (max-width: 768px) {
      .header__info {
        padding: 0 0;
        padding-right: 2rem; } }
  .header__logo {
    display: flex;
    align-items: center;
    width: 5vw;
    min-width: 2.8rem; }
    .header__logo img {
      width: 100%; }
  .header__logo--name {
    margin-left: calc(5px + 1vw); }
    .header__logo--name .name--cont {
      font-size: clamp(1.875rem, 1.5vw + 1.2rem, 4.5rem);
      font-weight: 600;
      letter-spacing: -2px; }
  .header__nav {
    display: flex;
    flex: 1;
    margin-left: auto;
    transition: height 0.5s ease-in-out;
    height: auto;
    flex-direction: column;
    align-items: flex-end;
    border-left: 1px solid #bbb; }
    .header__nav .mini-nav {
      list-style-type: none;
      margin-right: 20px; }
      .header__nav .mini-nav__item {
        display: inline-block;
        margin-left: 10px;
        color: #333;
        padding: 16px 24px;
        font-weight: 300; }
        .header__nav .mini-nav__item:hover, .header__nav .mini-nav__item:active, .header__nav .mini-nav__item:focus {
          background-color: #4287fe;
          color: #fff !important; }
        .header__nav .mini-nav__item a {
          text-decoration: none;
          color: inherit; }
      @media (max-width: 768px) {
        .header__nav .mini-nav {
          display: flex;
          flex-direction: column;
          margin-right: 0;
          width: 100%; }
          .header__nav .mini-nav__item {
            display: block;
            margin-left: 0;
            margin-top: 10px;
            border-radius: 10px;
            padding: 10px 16px;
            overflow: hidden; } }
    .header__nav--list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      height: auto;
      width: 100%; }
    .header__nav--item {
      height: auto;
      flex: 1;
      gap: 0;
      display: flex;
      justify-content: center;
      text-wrap: nowrap;
      color: #333;
      transition: all 0.3s ease;
      border: 1px solid #bbb;
      border-right: none;
      border-bottom: none; }
      .header__nav--item:last-child {
        border-radius: 0 0 10px 0; }
      .header__nav--item:first-child {
        border-left: none; }
      .header__nav--item:hover, .header__nav--item:active, .header__nav--item:focus {
        background-color: #4287fe;
        color: #fff !important; }
      @media (max-width: 768px) {
        .header__nav--item {
          display: block;
          margin-left: 0;
          border-radius: 10px;
          border: none;
          overflow: hidden; }
          .header__nav--item:last-child {
            border-radius: 10px; } }
    .header__nav--link {
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none; }
      .header__nav--link, .header__nav--link:visited, .header__nav--link:link {
        color: inherit;
        font-weight: 600;
        font-size: 1.2rem;
        letter-spacing: -1px;
        text-decoration: none;
        display: inline-block;
        padding: 16px; }
      .header__nav--link:hover, .header__nav--link:active, .header__nav--link:focus {
        text-decoration: none; }
    .header__nav--dropdown {
      position: relative;
      cursor: pointer; }
      .header__nav--dropdown ul {
        padding: .5rem;
        background-color: #ffffff;
        border-radius: 1rem;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        display: none;
        list-style-type: none;
        overflow: hidden; }
        .header__nav--dropdown ul li {
          margin-left: 0;
          background-color: transparent !important;
          font-weight: 600;
          font-size: 1.1rem;
          letter-spacing: -.5px; }
          .header__nav--dropdown ul li:hover, .header__nav--dropdown ul li:active, .header__nav--dropdown ul li:focus {
            background-color: #ff7a1c !important; }
          .header__nav--dropdown ul li:not(:last-child) {
            margin-bottom: 8px; }
          .header__nav--dropdown ul li a {
            width: 100%; }
      .header__nav--dropdown:hover ul, .header__nav--dropdown:active ul, .header__nav--dropdown:focus ul {
        display: block;
        width: auto;
        min-width: 100%;
        position: absolute;
        top: 100%;
        left: 50%;
        z-index: 12;
        transform: translateX(-50%); }
      @media (max-width: 768px) {
        .header__nav--dropdown:hover, .header__nav--dropdown:active, .header__nav--dropdown:focus {
          background-color: transparent;
          color: #333 !important; }
          .header__nav--dropdown:hover ul, .header__nav--dropdown:active ul, .header__nav--dropdown:focus ul {
            position: relative;
            top: 0;
            right: 0; } }
  .header__dropdown {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    flex-wrap: nowrap;
    width: 100%; }
    .header__dropdown .dropdown-item {
      display: block;
      width: 100%;
      padding: 10px 20px;
      text-align: left;
      border-radius: 10px;
      overflow: hidden;
      background-color: #fff;
      color: #333;
      transition: all 0.2s ease; }
      .header__dropdown .dropdown-item:hover, .header__dropdown .dropdown-item:active, .header__dropdown .dropdown-item:focus {
        background-color: #4287fe;
        color: #fff !important; }
  .header__menu-btn {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    margin-left: auto; }

/* Media Query for viewports smaller than 768px */
@media (max-width: 768px) {
  .expanded .header__nav {
    display: block;
    height: auto; }
  .header__cont {
    flex-direction: column;
    align-items: center;
    height: auto;
    transition: height .3s ease;
    padding: 10px 20px; }
    .header__cont--mobile {
      display: flex;
      justify-content: space-between;
      width: 100%; }
  .header__nav {
    display: none;
    /* Initially hidden */
    height: 0;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
    /* Prevent overflow */
    transition: height 0.5s ease-in-out;
    border: none; }
    .header__nav--list {
      width: 100%; }
    .header__nav--item {
      width: 100%;
      display: block;
      margin-left: 0px;
      margin-top: 10px;
      border-radius: 10px;
      overflow: hidden; }
    .header__nav--dropdown:focus ul {
      display: block; }
    .header__nav--link {
      display: block;
      width: 100%;
      padding: 8px 16px !important; }
  .header .show {
    height: 12.5rem;
    /* Allow height to adjust */
    transition: all .3s ease; }
  .header__nav--list {
    flex-direction: column;
    align-items: flex-start; }
  .header__menu-btn {
    display: block;
    /* Show menu button */
    display: flex;
    align-items: center;
    margin: 0 0 4px 0;
    color: #333; } }

.university-footer {
  background-color: #f8f9fa;
  padding: 3rem 0; }
  .university-footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem; }
  .university-footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .university-footer__brand {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2rem; }
    @media (min-width: 768px) {
      .university-footer__brand {
        flex: 0 0 30%;
        max-width: 30%; } }
  .university-footer__logo {
    max-width: 100px;
    height: auto;
    margin-bottom: 1rem; }
  .university-footer__title {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 0.5rem; }
  .university-footer__address {
    font-size: 0.875rem;
    line-height: 1.5; }
  .university-footer__links {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1rem; }
    @media (min-width: 768px) {
      .university-footer__links {
        flex: 0 0 30%;
        max-width: 30%; } }
  .university-footer__list {
    list-style: none;
    padding: 0;
    margin: 0; }
  .university-footer__link {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: -.5px;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease; }
    .university-footer__link:hover {
      color: #007bff; }
  .university-footer .separator {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #4287fe, #ff7a1c); }
  .university-footer__bottom {
    padding-top: 1rem; }
  .university-footer__copyright {
    font-size: 0.75rem;
    color: #6c757d; }
