// $header-background : #33333375;
$header-background : #ffffffa7;

$color-text-white: #fff;
$color-text-black: #333;

// $color-back-1: #faf6ed;
$color-back-1: #FF9100;
$color-back-2: #eeeefa;

// $color-theme-primary: #4287fe;
$color-theme-primary: #0065b3;
$color-theme-secondary: #ff7a1c;


$color-theme-primary-dark: #1b5ac8;
$color-theme-secondary-dark: #d06315;

$color-head-icon-box: #f0f7fc;