.section-intro{
    padding: 8% 8%;
    width: 100vw;
    background-image: url(".././resources/cspit/slideshow-1.webp");
    background-size: cover;
    // height: 100vh;
    // color: $color-text-white;

    &__cont{
        width: 60%;
        padding: 3rem;
        background-color: $header-background;
        border-radius: 40px;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        font-weight: 300;
        font-size: responsive-font-size(1.4);
        // border: 1px solid #ffffffdc;

        
        h1{
            // font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
            letter-spacing: -1.5px;
            // font-weight: 400;
            font-size: responsive-font-size(2.4); 
        }
        
        .highlight{
            font-weight: 600;
            letter-spacing: -1.5px;
            background-image: linear-gradient(120deg, $color-theme-primary, $color-theme-secondary);
            background-clip: text;
            color: transparent;
        }
        
        .intro-module{
            margin-bottom: 1.5rem;
            
            h2{
                // font-family: 'Times New Roman', Times, serif;
                font-weight: 600;
                font-size: responsive-font-size(2.4);
                // font-weight: 400;
                letter-spacing: -1.5px;
                margin-bottom: .6rem;
            }
        }
    }
}
@media (max-width: 768px) {

    .section-intro{
        padding: 8% 4%;
        background-position: 50%;

        &__cont{
            width: 80%;
            padding: 1rem;
            border-radius: 10px;
        }
    }
}