.programs {
    width: 100vw;
    padding: 3% 5%;
    background-image: url(".././resources/backgrounds/dotted-bg.png");
    background-size: 40%;
    // background-repeat: no-repeat;

    &__cont {
        width: 100%;

        &--header {
            width: 100%;
            font-size: responsive-font-size(2.4); // Reduced font size
            font-weight: 700;
            letter-spacing: -2px; // Reduced letter-spacing
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            .svg-cont {
                width: 5rem; // Reduced width
                height: 5rem; // Reduced height
                padding: 0.5rem; // Reduced padding
                display: inline-block;
                border-radius: 50%;
                background-color: rgba($color-theme-secondary, 0.1);
                box-shadow: 0 0 10px 0 rgba(200, 97, 1, 0.405);

                @media (max-width: 768px) {
                    width: 4rem;
                    height: 4rem;
                }

                svg {
                    margin-right: -2px;
                }
            }
        }

        &--main {
            padding: 3% 0;

            .postgraduate__list {
                .program__item{
                    &:nth-child(1) { .program__name { background-image: url(".././resources/programs/programs-9.webp"); } }
                    &:nth-child(2) { .program__name { background-image: url(".././resources/programs/programs-8.webp"); } }
                    &:nth-child(3) { .program__name { background-image: url(".././resources/programs/programs-2.webp"); } }
                    &:nth-child(4) { .program__name { background-image: url(".././resources/programs/programs-11.webp"); } }
                    &:nth-child(5) { .program__name { background-image: url(".././resources/programs/programs-10.webp"); } }
                }
            }
        }
    }
}

.program {
    &__category {
        .category-name {
            font-size: 2.4rem; // Reduced font size
            letter-spacing: -1.5px; // Reduced letter-spacing
            font-weight: 600;
            padding: 0.5rem 0; // Reduced padding
            width: 100%;
            border-bottom: 2px solid #ddd;

            @media (max-width: 768px) {
                font-size: 1.4rem; // Further reduced font size
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem; /* Adjusted gap between items */
        justify-content: center;
        padding: 3% 0;
    }

    &__item {
        flex: 0 1 calc(25% - 2rem); /* Each item takes up 1/4 of the row minus the gap */
        border-radius: 1.5rem; // Reduced border radius
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        letter-spacing: -1px;
        overflow: hidden;
        transition: all .3s;
        background-color: #fff;

        &:hover {
            box-shadow: 0 0 20px rgba(#333, 0.3);

            .program__name::before {
                background-position: 100%;
            }
        }

        /* Background images for each item */
        &:nth-child(1) { .program__name { background-image: url(".././resources/programs/programs-5.webp"); } }
        &:nth-child(2) { .program__name { background-image: url(".././resources/programs/programs-1.webp"); } }
        &:nth-child(3) { .program__name { background-image: url(".././resources/programs/programs-6.webp"); } }
        &:nth-child(4) { .program__name { background-image: url(".././resources/programs/programs-4.webp"); } }
        &:nth-child(5) { .program__name { background-image: url(".././resources/programs/programs-8.webp"); } }
        &:nth-child(6) { .program__name { background-image: url(".././resources/programs/programs-7.webp"); } }
        &:nth-child(7) { .program__name { background-image: url(".././resources/programs/programs-3.webp"); } }
        &:nth-child(8) { .program__name { background-image: url(".././resources/programs/programs-2.webp"); } }
        // &:nth-child(9) { .program__name { background-image: url(".././resources/backgrounds/mesh-9.webp"); } }

        .font-small {
            font-size: responsive-font-size(1.5); // Reduced font size 
        }

        @media (max-width: 768px) {
            flex: 0 1 calc(50% - 2rem); /* Each item takes up 1/2 of the row minus the gap */
        }

        @media (max-width: 480px) {
            flex: 0 1 calc(100% - 2rem); /* Each item takes up the full row minus the gap */
        }
    }

    &__name {
        padding: 6%; // Reduced padding
        height: 14rem; // Reduced height for smaller aspect ratio
        position: relative;
        z-index: 0;
        display: flex;
        align-items: flex-end;
        border-bottom: 1px solid #ddd;
        font-weight: 700;
        font-size: responsive-font-size(1.9); // Reduced font size
        background-size: cover;
        background-repeat: no-repeat;
        color: $color-text-white;
        // background-color: darken($color-head-icon-box, 10%);
        background-color: $color-head-icon-box-2;
        // background-image: linear-gradient(to right bottom, #73c0f4, #1963be);
        // background-image: linear-gradient(to right bottom, lighten($color-theme-secondary, 15%), darken($color-theme-secondary, 12%));
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            transition: background-position 0.5s;
            background: linear-gradient(15deg, #000000ab 0%, #ffffff00 90%);
            background-size: 200%;
            background-position: 0%;
        }
    }

    &__info {
        padding: 3% 6%; // Reduced padding

        ul {
            list-style-type: none;

            li {
                font-size: responsive-font-size(1.1); // Reduced font size
                padding: 0.4rem 0;
                display: flex;

                .label {
                    font-weight: 600;
                    width: 30%;
                    min-width: 6rem;
                }

                .card-icon {
                    width: 20px;
                    margin-left: 0.1rem;
                    margin-right: 1rem;

                    &-wide {
                        width: 22px;
                        margin-right: 1rem;
                    }

                    &-wider {
                        width: 22px;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }

    &__actions {
        padding: 3%; // Reduced padding
        padding-top: 0;

        a {
            display: block;
            text-decoration: none;
            text-align: center;
            width: 100%;
            padding: 0.8rem 1rem; // Reduced padding
            border: none;
            color: $color-text-black;
            font-weight: 700;
            font-size: 1rem; // Reduced font size
            border-radius: 1rem;
            letter-spacing: -.5px;
            cursor: pointer;
            transition: all 0.3s;
            font-family: "Inter", sans-serif;
            background-color: $color-head-icon-box;

            &:hover {
                // background-color: lighten($color-theme-secondary, 30%);
                transform: translateY(-2px);
                background-color: darken($color-head-icon-box, 10%);
                box-shadow: 0 0 1rem -.5rem rgba(0, 0, 0, 0.2);
            }
        }
    }
}

@media (max-width: 768px) {
    .programs__cont--header{
        padding: 1rem;
        margin-left: -1rem;
    }

    .program__list {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }

    .program__info{
        li {
            display: flex;
            align-items: center;
            font-size: responsive-font-size(1.4) !important; // Further reduced font size
        }
    }
}

@media (max-width: 480px) {
    .program__list {
        grid-template-columns: 1fr; /* 1 column for mobile screens */
    }

    .program__name {
        height: 10rem; // Reduced height for mobile devices
        font-size: responsive-font-size(2.2); // Further reduced font size
    }
}

// @media (max-width: 768px) {
//     .programs{
//         &&__cont{
//             &--header {
//                 font-size: 1rem;
//                 gap: .5rem;
//                 padding: .5rem .8rem;

//                 .svg-cont{
//                     width: 3rem;
//                     height: 3rem;
//                     margin-right: 0;
//                     aspect-ratio: 1/1;
//                 }
//             }
//         }

//         &__cont{
//             gap: 1rem;
//             // justify-content: space-around;

//             &--item{
//                 width: 25%;
//                 padding: .5rem;
//             }
//         }
//     }
// }