.scalars {

    background-image: url(".././resources/cspit/scalars.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0;

    .achievment-area {
        .section-header-box {
            display: block;

            .section-header {
                margin-bottom: 2rem;
                
                h1 {
                    text-align: center;
                    font-size: responsive-font-size(3.8);
                    font-weight: 700;
                    letter-spacing: -1.5px;
                    color: $color-text-white;
                    margin-bottom: 3rem;
                }
            }
        }

        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr); // 4 blocks per row for desktops
            gap: 1.5rem; // Spacing between blocks
            padding: 4% 0;
            margin: 0% 6%;
            border-radius: 2rem;
            background-color: $header-background;
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);

            @media (max-width: 1200px) {
                grid-template-columns: repeat(3, 1fr); // 3 blocks per row for large tablets
            }

            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr); // 2 blocks per row for small tablets
                gap: .5rem;
                padding: 4%;
            }

            // @media (max-width: 768px) {
            //     grid-template-columns: repeat(1, 1fr); // 1 block per row for mobile devices
            // }

            .counters-item {
                .counter-box {
                    width: 100%; // Ensure the box fits the grid container
                    padding: 20px 10px;
                    // background-color: #f5f5f5;
                    border-radius: 8px;
                    text-align: center;
                    // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

                    i {
                        font-size: responsive-font-size(3);
                        color: darken($color-theme-secondary, 0%);
                        margin-bottom: 10px;
                    }

                    .counter {
                        font-size: responsive-font-size(2.5);
                        font-weight: bold;
                        color: #007bff;
                        margin-bottom: 5px;
                    }

                    span {
                        font-size: responsive-font-size(1.2);
                        color: #555;
                    }
                }
            }
        }
    }
}
