.u-blk{
    display: block;
}

.u-il-blk{
    display: inline-block;
}

.u-font-bold{
    font-weight: 700;
}

.u-font-light{
    font-weight: 200;
}

// .u-sup{
//     font-size: responsive-font-size(0.8);
//     margin: -.4rem 0 0 0;
// }